<div class="p-4">
  <a class="btn btn-primary mb-3 " [routerLink]="['/create']">
    Create
  </a>
  <a class="btn btn-danger mb-3 text-white ml-3" *ngIf="selectedBooks.length > 0" (click)="deleteSelectedFiles()">
    Delete Selected Files
  </a>

  <app-change-category *ngIf="selectedBooks.length > 0" [selectedBooks]="selectedBooks" (filteredArrayCategory)='filteredArrayCategory($event)'>

  </app-change-category>

    <table id="example" datatable [dtOptions]="dtOptions" class="table" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th></th>
            <th>Titulli</th>
            <th>Pershkrimi</th>
            <th>Autori</th>
            <th>Kategoria</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of listOfBooks">
            <td><input type="checkbox" (click)="toggleClick(book)"  /></td>
            <td>{{book.bookTitle |uppercase }}</td>
            <td>{{book.bookDescription | lowercase }}</td>
            <td>{{book.bookAuthor | titlecase  }}</td>
            <td>{{book.bookCategory}}</td>
            <td> <a class="btn btn-warning mr-2"  [routerLink]="['/update',book.id]">Update</a> 
              <app-delete-single [book]="book" (filteredArray)='filteredArray($event)'></app-delete-single> </td>
          </tr>
          
        </tbody>
      </table>

</div>


