/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
#example_info {
  display: none;
}
#example_paginate {
    float: none;
    text-align: center;
    padding: 1rem 0;
}
